<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="Rsil6CLEEv29rmXukK95lRfe0zVf7sAwPLTUkwRp84o" />
  {% seo %}
  <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
</head>