<nav class="flex-block flex-block--padding">
  <div class="flex-block flex-block--row flex-block--wrapper flex-block--flex-space-b">
    <a href="{{ site.baseurl }}/" class="">
      <span>
        <span class="bracket">&lbrack;</span>
        <h2 class="logotype">
          Jared <strong>Nutt</strong>
        </h2>
        <span class="bracket">&rbrack;</span>
      </span>
    </a>
    <ul>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        <!-- <li><a href="#">Work</a></li> -->
    </ul>  
  </div>
</nav>