.h1--project-label {
  background: $secondary-brand-color;
  color: $text-color-light;
  margin: 0 auto;
  margin-top: -4rem;
  padding: 1rem 2rem;
}
.img-wrapper{
  text-align: center;
}
.img--centered{
  margin: auto;
}
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */ }
  .video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }