.h1--project-label {
  background: $secondary-brand-color;
  color: $text-color-light;
  margin: 0 auto;
  margin-top: -4rem;
  padding: 1rem 2rem;
}
.img-wrapper{
  text-align: center;
}
.img--centered{
  margin: auto;
}
