.form{
    @extend .flex-block;
    @extend .flex-block--padding;
    max-width: 50rem;
    margin: 2rem auto;
    justify-content: center;
    align-content: space-between;
    background: $bg-color-dark;
    padding: 2rem;
}
.form__label {
    @extend h3;
    font-size: 2rem;
}
.form__input--text{

}

.form__input {

}