.icon {
  max-width: 10rem;
}

.icon--skills {
  width: 10rem;
  margin: 1rem;
}

.skills-list {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  //aligns the last line of the grid to the left
  &::after {
    content: '';
    @include flex(auto);
  }
}

.skills-list-icon {
  filter: grayscale(100%);
  transition: filter $animation;
}

.skills-list-icon:hover {
  filter: grayscale(0);
  transition: filter $animation;
}

.icon--social {
  height: 4rem;
  margin: 0 1rem;
}

.icon__stroke {
  fill-opacity: 0;
  stroke: $dark-grey;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

.icon__stroke--social {
  transition: all $animation;
  stroke: $link;
  fill: $link;  
  fill-opacity: 0;
  &:hover {
    transition: all $animation;
    fill-opacity: 1;
  }
}

.icon__stroke--inner {
  stroke-width: 2px;
}
