// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
nav {
  background: $header-footer-bg;
  color: $text-color-light;
  align-self: stretch;
  align-items: baseline;
  @include flex-direction(row);
}
.bracket{
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 0.5;
  color: $base1;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
}

nav ul li:first-of-type {
  margin-right: 1rem;
}

.logotype {
  font-weight: normal;
  display: inline-block;
}
