/**
 * Basic typography style for copy text
 */
html {
  font-size: 62.5%;
}

body {
  color: $text-color;
  font: 1.6rem $text-font-stack;
}

h1 {
  font-size: 2.8rem;
  margin: 2rem 0;
  text-align: center;
  color: $brand-color;
}

.headline--underscore {
  &::after {
    content: "";
    display: block;
    background-color: darken($brand-color, 20);
    height: 2px;
    max-width: 50px;
    width: 100%;
    margin: 0 auto;
    transition: $animation;
  }
  &:hover::after{
    max-width: 100px;
    transition: $animation;
  }
}

h2 {
  font-size: 2.4rem;
  margin: 1rem 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  margin: 1rem 0;
  // margin-left: 1rem;
  text-align: left;
  position: relative;
  &::after {
    content: " |";
    color: $brand-color;
  }
}
h4 {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
}

h5 {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
}

h6 {
  font-size: 1.8rem;
  margin: 1rem 0;
  text-align: center;
}

.h6--role {
  font-size: 1.6rem;
  margin-top: 0;
  text-align: left;
}

p {
  margin: 1rem 0;
}

blockquote {
  font-weight: 200;
  font-size: 4rem;
  padding: 4rem;
}
